.chart{
    width: 630px;
    height: 366px;
    border-radius: 16px;
    position: relative;
}

.options > div{
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
}

.chart aside > h4{
    color: #00261C;
    font-weight: normal;
}

.chart aside > p{
    color: #00DEA3;
}

.options > div:first-child{
    background: #00DEA3;
    border: #00DEA3;
    color: white;
}

article{
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

article i{
    font-size: 50px;
}
