.balances {
    width: 400px;
    height: 366px;
    background: white;
    border-radius: 16px;
}

.balances h4{
    color: #00261C;
    font-weight: normal;
    font-size: 24px;
}

.balances i{
    color: #5A55D2;
    font-size: 20px;
}

.balances p::first-letter{
    color: #5A55D2;
    font-size: 1em;
}

.balances h2{
    color: #5A55D2;
    font-size: 34px;
    font-weight: normal;
}
