.team{
    width: 300px;
    height: 254px;
    border-radius: 16px;
}
.team h1{
    color: #00261C;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

.team > aside> section {
    width: 205px;
    height: 76px;
    background: #783EFD;
    opacity: 0.1;
    border-radius: 12px;
}
