.team{
    width: 300px;
    height: 254px;
    border-radius: 16px;
    text-align: left;
}
.team h1{
    color: #00261C;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

.team > aside> section {
    width: 205px;
    height: 76px;
    background: rgba(120, 62, 253, 0.1);
    border-radius: 12px;
    color: #00261C;
}

.team > aside> section:last-child{
    background: rgba(0, 222, 163, 0.1);
}

.team h5{
    font-weight: normal;
}
