.slide-bar {
  width: 255px;
  background: white;
  height: 100vh;
}
button {
  background: none;
  border: none;
  color: #00140e;
  font-size: 18px;
  padding: 12px;
  width: 195px;
  height: 48px;
}

i {
  color: #00140e;
  margin-right: 12px;
}

#dashboard,
#dashboard i {
  color: #00dea3;
}

h1 {
  color: #00140e;
  font-size: 24px;
}

h1 > i {
  color: #00dea3;
}

section {
  border: 1px solid #e4e7ed;
}

footer {
  width: 100%;
  background: #00dea3;
}

footer > h1 > i {
  color: white;
}

h3 {
  color: #231f20;
  font-size: 12px !important;
  font-weight: lighter !important;
}
