.top-bar {
  width: auto;
  height: 80px;
  position: absolute;
  top: 0;
  left: 255px;
  right: 0;
  margin: auto;
}

.top-bar > section {
  border: none;
}

.top-bar > section>h4{
    font-size: 24px;
    color: #00261C;
    margin-bottom: 0;
}

.top-bar > section>p{
    font-size: 14px;
    color: #707EAE;
}

.top-bar > section:nth-child(2) span>i{
  color: #AEB6CF;
  font-size: px;
}

.top-bar > section:first-child{
  margin-left: 20px;
}

.top-bar > section:last-child{
  margin-right: 20px;
}

#user{
  width: 48px;
  height: 48px;
  background: url(../../../assets/user.png);
}

#user-detail{
  gap: 15px;
}

#user-detail>p{
  font-size: 16px;
  color: #00261C;
  margin: 0;
}

#user-detail h4{
  margin: 0;
  font-size: 18px;
}

#notification{
  width: 48px;
  height: 48px;
}

#user-detail h4>i{
  margin: 0;
}

.top-bar input{
  width: 410px;
  height: 48px;
}
