.table-class{
    width: 1030px;
    height: 254px;
    border-radius: 16px;
}

.table-class h1{
    color: #00261C;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

tr{
    text-align: left;
    color: #707EAE;
}

#op-1{
    color: #00DEA3;
}

#op-2{
    color: #868CFF;
}
